<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Admin View Page</title>

</head>
<body>
	<h1>Admin View Page</h1>
	<a href="/">Back To Home</a>
	<br/>
	ABS-Product:
	<span th:text="${productcode}"></span>
	<br/>
	Block Chain Type:
	<span th:text="${type}"></span>
	<table border="1">
		<tr>
			<th>Index</th>
			<th>Content</th>
			<th>Updated Time</th>
			<th>Updated User</th>
			<th>hash</th>
			<th>prevHash</th>
			<th>Comment</th>
		</tr>
		<tr th:each="block:${returnObject}">
			<td th:text="${#numbers.formatInteger(block.index,0)}"></td>
			<td th:text="${block.vac}"></td>
			<td th:text="${block.timestamp}"></td>
			<td th:text="${block.user}"></td>
			<td th:text="${block.hash}"></td>
			<td th:text="${block.prevHash}"></td>
			<td th:text="${block.comments}"></td>
		</tr>
	</table>
	<div th:if=" ${type} != 'value' and ${type} != 'bank' and ${type} != 'cdo' and ${type} != 'cdos'">
	<font size="3">ADD New Block:</font>
	<font size="3">* input content which contain "illegalContent" for testing the illegalContent</font>
	<form action="addblock" method='post'>
		<input type='hidden' name='user' value='admin'/>  
    	<input type='hidden' name='type' th:value='${type}'/> 
		<textarea name="vac" rows="3" cols="20"></textarea>
		<br/>
		<input type="submit" value="Add New Block"/>
	</form>
	</div>
	<div th:if=" ${type} == 'value'">
		<font size="3">Value is calculated automatically, unable to add by manually.</font>
	</div>
	<div th:if=" ${type} == 'bank'">
		<font size="3">Bank record is add by bank transaction account automatically, unable to add by manually.</font>
	</div>
	<div th:if=" ${type} == 'cdo'">
		<div th:if=" ${cdo} != null">
			<div th:if=" ${cdo.cdos} != null">
				<span th:text="${cdo.cdos.name}"></span>
				<a th:href="@{'javascript:document.'+${cdo.cdos.name}+'Form.submit();'}">View Details</a>
				<form th:attr="name=${cdo.cdos.name}+Form" action='/adminview' method='post'>
				<input type='hidden' name='user' value='admin' />
				<input type ='hidden' name='type' value='cdos' />
				<input type='hidden' name='product' th:value='${cdo.cdos.name}' />
			</form>
			</div>
			<div th:if=" ${cdo.cdos} == null">
				This CDO is not belong to any CDOs
			</div>
		</div>
		<div th:if=" ${cdo.abs} != null">
			This CDO contains following ABS product(s):
			<div th:each="abs:${cdo.abs}">
				
			</div>
		</div>
		<div th:if=" ${cdo.abs} == null">
			<font size="3" color="red">Data missed, please contact admin.</font>
		</div>
	</div>
	<div th:if=" ${type} == 'cdos'">
		<div th:if=" ${cdos} != null">
			
		</div>
		<div th:if=" ${cdos} == null">
			<font size="3" color="red">Data missed, please contact admin.</font>
		</div>
	</div>
</body>
</html>
