<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Client View Page</title>

</head>
<body>
	<h1>Client View Page</h1>
	<a href="/">Back To Home</a>
	<br/>
	ABS-Product:
	<span th:text="${productcode}"></span>
	<br/>
	Block Chain Type:
	<span th:text="${type}"></span>
	<table border="1">
		<tr>
			<th>Index</th>
			<th>Content</th>
			<th>Updated Time</th>
			<th>Comment</th>
		</tr>
		<tr th:each="block:${returnObject}">
			<td th:text="${#numbers.formatInteger(block.index,0)}"></td>
			<td th:text="${block.vac}"></td>
			<td th:text="${block.timestamp}"></td>
			<td th:text="${block.comments}"></td>
		</tr>
	</table>

</body>
</html>
