<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Client Page</title>

</head>
<body>
	<h1>Client Page</h1>
	<table border="1" style='white-space: pre-line;'>
		<tr>
			<th>Chain Name</th>
			<th>Capital</th>
			<th>Content</th>
			<th>hash</th>
			<th>Updated Time</th>
			<th>Comment</th>
			<th>View History</th>
		</tr>
		<tr>
			<td>Capital Chain</td>
			<td><span th:text="${returnObject.capital.index}"></span></td>
			<td><span th:text="${returnObject.capital.vac}"></span></td>
			<td><span th:text="${returnObject.capital.hash}"></span></td>
			<td><span th:text="${returnObject.capital.timestamp}"></span></td>
			<td><span th:text="${returnObject.capital.comments}"></span></td>
			<td><a href="javascript:document.capitalChianForm.submit();">View History</a></td>
		</tr>
		<tr>
			<td>Reputation Chain</td>
			<td><span th:text="${returnObject.reputation.index}"></span></td>
			<td><span th:text="${returnObject.reputation.vac}"></span></td>
			<td><span th:text="${returnObject.reputation.hash}"></span></td>
			<td><span th:text="${returnObject.reputation.timestamp}"></span></td>
			<td><span th:text="${returnObject.reputation.comments}"></span></td>
			<td><a href="javascript:document.reputationChianForm.submit();">View History</a></td>
		</tr>
		<tr>
			<td>Value Chain</td>
			<td><span th:text="${returnObject.value.index}"></span></td>
			<td><span th:text="${returnObject.value.vac}"></span></td>
			<td><span th:text="${returnObject.value.hash}"></span></td>
			<td><span th:text="${returnObject.value.timestamp}"></span></td>
			<td><span th:text="${returnObject.value.comments}"></span></td>
			<td><a href="javascript:document.valueChianForm.submit();">Value History</a></td>
		</tr>
	</table>
	
	 <form name='capitalChianForm' action='clientview' method='post'>      
    	<input type='hidden' name='user' value='admin'/>  
    	<input type='hidden' name='type' value='capital'/> 
    	<input type='hidden' name='product' th:value='${returnObject.code}'/> 
    </form>
    <form name='reputationChianForm' action='clientview' method='post'>      
    	<input type='hidden' name='user' value='admin'/>  
    	<input type='hidden' name='type' value='reputation'/> 
    	<input type='hidden' name='product' th:value='${returnObject.code}'/> 
    </form>
    <form name='valueChianForm' action='clientview' method='post'>      
    	<input type='hidden' name='user' value='admin'/>  
    	<input type='hidden' name='type' value='value'/> 
    	<input type='hidden' name='product' th:value='${returnObject.code}'/> 
    </form>  	
	
</body>
</html>
